<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
       <title>Alta paciente</title>
   </head>
   <body>
   	
   		<form th:action="@{/daralta/dandoAlta}" method="post" >
   			
   			<font size="3"><b>IdAeropuerto:</b></font>
   			
        	<font size="2">x86,x67</font>
        	
        	
        	
        	<input type="text" name="idaeropuerto" id="idaeropuerto" size="35"/>
        	
        	<font size="3"><b>Nombre Del Aeropuerto:</b></font>
        	
        	<input type="text" name="nombreaeropuerto" id="nombreaeropuerto" size="35"  th:required="required" />
        	
        	<font size="3"><b>Ciudad:</b></font>
        	
        	<input type="text" name="ciudad" id="ciudad" size="35" th:required="required"/>
        	
        	<font size="3"><b>Pais:</b></font>
        	
        	<input type="text" name="pais" id="pais" size="35" th:required="required"/>
        	
      
        	<input type="submit" value="Dar de alta"/>
        </form>
    
   		
   		<!--  <a th:href="@{/consulta.html}" ><img th:src="@{/img/cancelar.png}" align="right" width="8%"></img></a> -->
   </body>
</html>